.friend-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-input-container {
    display: flex;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
}

.search-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-result-item {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
