.recommendations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.recommendations-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.recommendation-item {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* esta línea permite que los cambios se hagan de forma gradual */
}

.recommendation-item:hover {
    background-color: #e0e0e0; /* cambia el color de fondo al pasar el mouse */
    transform: translateY(-10px); /* mueve el elemento 10px hacia arriba */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* hace que la sombra sea más prominente */
}
